
body {
  --sidebar-width: 300px;
  --infobar-width: calc(100vw - var(--sidebar-width));
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  /* height: 70%; */

  /* grid-template-areas: "sidebar visualization"; */
  /* grid-template-columns: 25% 75%; */
}

#vsualization-container,
#sidebar-container {
  display: flex;
  flex-direction: column;
}

#sidebar-container {
  /* flex-direction: 1; */
  /* grid-area: sidebar; */
  /* display: flex; */
  flex-direction: column;
  height: 93%;
  /* overflow-y: scroll; */
  /* overflow-y: auto; */
  position: fixed;
  max-width: var(--sidebar-width);
  left: 0;
  z-index: 100;
}

#visualization-info-container {
  /* display: flex; */
  /* display:list-item; */
  /* grid-template-rows: 75% 25%; */
  /* height: ; */
  margin-left: var(--sidebar-width);
  width: 100%;
}

#visualization-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 181px;
  padding: 20px;
}

.info-panel-container {
  position: fixed;
  min-width: var(--infobar-width);
  /* display: flex; */
  /* justify-content: space-between; */
  /* top: 88px; */
  /* width: ; */
  /* top: 100%; */
}

@media (max-width: 600px) {
  #visualization-info-container {
    margin-left: 0;
  }
  #visualization-container {
    flex-direction: column;
    padding-left: 0px;
    margin-top: 0;
    margin-bottom: -265px;
    /* overflow-y: scroll; */
    /* height: ; */
  }

  #visualization-container h2{
    margin: 0;
    padding-left: 20px;
  }

  .info-panel-container {
    /* min-width: 100vw; */
    position: absolute;
    bottom: calc(-100vh + 325px);
  }
  
  #sidebar-container {
    overflow-y: scroll;
   
    position: absolute;
    z-index: 50;
    /* height: auto; */
    width: var(--sidebar-width);
    /* height: 200vh; */
  }
}