
body {
  --sidebar-width: 15%;
  --infobar-width: 85%;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  /* height: 70%; */

  /* grid-template-areas: "sidebar visualization"; */
  /* grid-template-columns: 25% 75%; */
}

#vsualization-container,
#sidebar-container {
  display: flex;
  flex-direction: column;
}

#sidebar-container {
  /* flex-direction: 1; */
  /* grid-area: sidebar; */
  /* display: flex; */
  flex-direction: column;
  height: 93%;
  /* overflow-y: scroll; */
  /* overflow-y: auto; */
  position: fixed;
  max-width: var(--sidebar-width);
  left: 0;
}

#visualization-info-container {
  /* display: flex; */
  /* display:list-item; */
  /* grid-template-rows: 75% 25%; */
  /* height: ; */
  margin-left: var(--sidebar-width);
  width: 100%;
}

#visualization-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 205px;
  padding: 20px;
}

.info-panel-container {
  position: fixed;
  min-width: var(--infobar-width);
  /* display: flex; */
  /* justify-content: space-between; */
  /* top: 88px; */
  /* width: ; */
  /* top: 100%; */

}

.content-box {
    flex: 1;
    padding: 0px 20px;
    /* border-right: 2px solid #588157; */
    margin: 10px;
}