@import url("../config/variables.css");

#header-container {
    background-color: var(--header-color);
    padding: 1px 20px;
    color: var(--text-color-light);
    margin: 0;
    border-bottom: 5px solid var(--header-color-dark);
    position: sticky;
    width: 100%;
    top: 0;
}

#header-title-container {
    display: flex;
    align-items: center;
}

#header-title {
    font-size: 30px;
    padding: 0 10px;
    /* text-align: bottom; */
}

#header-icon {
    /* height: 100px; */
}