@import url("../config/variables.css");

#header-container {
    background-color: var(--header-color);
    padding: 1px 20px;
    color: var(--text-color-light);
    margin: 0;
    border-bottom: 5px solid var(--header-color-dark);
    position: sticky;
    top: 0;
    display: flex;
    /* height: 30%; */
}

#header-title-container {
    display: flex;
    align-items: center;
    flex: 1;
}

#header-title {
    font-size: 30px;
    padding: 0 10px;
    /* text-align: bottom; */
}

#header-icon {
    /* height: 100px; */
}

#header-links {
    display: flex;
    align-items: center;
}

#github-icon {
    height: 30px;
    margin-right: 5px;
}

#github-link {
    display: flex;
    align-items: center;
    color: var(--text-color-light);
    text-decoration: none;
}

#github-link:hover {
    opacity: 0.7;
}