@import url("../config/variables.css");

#info-panel {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* align-items: start; */
    /* height: 200px; */
    background-color: var(--info-color);
    border-bottom: 5px solid var(--info-color-dark);
    color: var(--text-color-light);
    overflow-x: scroll;


}

#info-panel .section  {
    border-right: 2px solid var(--info-color-light);
    /* border-left: 2px solid var(--info-color-light); */
    /* margin: auto 10px; */
    /* padding-right: 10px*/
    /* padding-left: 10px;s*/
    min-width: 250px;
    /* align-items: center; */
    
}
