@import url("../config/variables.css");

#info-panel {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    height: 200px;
    background-color: var(--info-color);
    border-bottom: 5px solid var(--info-color-dark);
    color: var(--text-color-light);
    /* width: 100%; */
}

#info-panel .content-box {
    /* flex: 1; */
    /* padding: 0px 20px; */
    border-right: 2px solid var(--info-color-light);
    /* margin: 10px; */
}

h2 {
    /* margin-top: 10px; */
    margin-top: 10px;
    padding-bottom: 5px;
}