#sidebar {
    background-color: #778da9;
    height: 100vh;
    border-right: 5px solid #415a77;
    color: white;;
}

.sidebar-title {
    padding-left: 10px;
    padding-bottom: 10px;
    /* padding-top: 10px; */
    margin: 0 0;
}

.description-box {
    font-size: 14px;
    padding-left: 10px;
    /* margin: 0 0; */
}

#sidebar .content-box {
    border-bottom: 2px solid #869bb5;
    padding-bottom: 20px;
}