@import url("../config/variables.css");

#sidebar {
    background-color: var(--sidebar-color);
    /* height: 100vh; */
    border-right: 5px solid var(--sidebar-color-dark);
    color: var(--text-color-light);
    overflow-y: scroll;
}

#sidebar .section  {
    border-bottom: 2px solid var(--sidebar-color-light);
    /* padding-bottom: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
}


.preset-button {
    padding: 5px;
    margin: 5px;
    /* color: red; */
}

button.preset-button:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    #sidebar {
        /* position: absolute; */
        /* display: none; */
        /* width: var(--sidebar-width); */
        /* max-width: 100vw; */
    }
}