@import url("../config/variables.css");

#sidebar {
    background-color: var(--sidebar-color);
    height: 100vh;
    border-right: 5px solid var(--sidebar-color-dark);
    color: var(--text-color-light);
}

.sidebar-title {
    padding-left: 10px;
    padding-bottom: 10px;
    /* padding-top: 10px; */
    margin: 0 0;
}

.description-box {
    font-size: 14px;
    padding-left: 10px;
    /* margin: 0 0; */
}

#sidebar .variable-panel {
    border-bottom: 2px solid var(--sidebar-color-light);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#sidebar .variable-panel > * {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* margin: 10px 0; */
    padding-bottom: 10px;
}



#sidebar .content-box div div {
    margin-left: 10px;
}

.preset-button {
    padding: 5px;
    margin: 5px;
    /* color: red; */
}

